.h-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.grid-element {
	border: 1px solid black;
	box-sizing: border-box;
	font-size: xx-large;
	color: yellow;
}

#game-grid {
	height: 70vh;
	width: 70vh;
	background-color: red;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

#messages {
	height: 10vh;
	width: 100vw;
	background-color: green;
}

#buttons {
	height: 20vh;
	width: 100vw;
	background-color: blue;
}
